@import "../app.component.scss";

.sensor-overview{
    width: 45%;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 20rem;
}

table{
    width: 100%;   
}

.right-align{
    text-align: right;
    padding-right: 1rem;
    width: 60%;
}
