<mat-card class="sensoroverview">
    <table *ngIf="sensor">
        <tr>
            <td class="rightalign">Temperature:</td>
            <td>{{ sensor.temperature }}</td>
        </tr>
        <tr>
            <td class="rightalign">Humidity:</td>
            <td>{{ sensor.humidity }}</td>
        </tr>
        <tr>
            <td class="rightalign">pH Value:</td>
            <td>{{ sensor.ph }}</td>
        </tr>
        <tr>
            <td class="rightalign">Moisture:</td>
            <td>{{ sensor.moisture }}</td>
        </tr>
    </table>

</mat-card>