<mat-card class="sensor-overview">
    <table *ngIf="sensor">
        <tr>
            <td class="right-align">Temperature:</td>
            <td>{{ sensor.temperature }}&deg;C</td>
        </tr>
        <tr>
            <td class="right-align">Humidity:</td>
            <td>{{ sensor.humidity }}%</td>
        </tr>
        <tr>
            <td class="right-align">pH Value:</td>
            <td>{{ sensor.ph }}</td>
        </tr>
        <tr>
            <td class="right-align">Moisture:</td>
            <td>{{ sensor.moisture }}</td>
        </tr>
    </table>
</mat-card>