@import "../app.component.scss";

.sensoroverview{
    width:50%;
    max-width: 15rem;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: justify;
}

table {
    width: 100%;    
}
.rightalign{
    text-align: right;
    padding-right:1rem
}
