@use '@angular/material' as mat;

$light_blue: #81C9C4;
$dark_blue: #5BBDB5;

$light_green: #C2CC73;
$dark_green: #AAC031;

$light_purple: #BBBBDF;
$dark_purple: #AAA3D0;

$background: #F9F9F3;
$text: #282828;

$plant-pod-companion-warn: mat.define-palette(mat.$red-palette);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
