<mat-card class="main-card title">
   <mat-card-title>Plant Details</mat-card-title>
</mat-card>
<mat-card class="main-card" *ngFor="let Plant of plants">
   <mat-card-header>
      <mat-card-title class="title">{{ Plant.name }}</mat-card-title>
      <mat-card-subtitle>{{ Plant.description }}</mat-card-subtitle>
   </mat-card-header>
   <mat-card class="text-card flex-container">
      <div class="text-card-item">
         <img class="img" src="{{Plant.imageSource}}">
      </div>
      <div class="text-card-item">
         <p>plant info here</p>
      </div>
      <div class="text-card-item">
         <div>
            <button mat-raised-button color="primary" class="vertical-line">room info</button>
         </div>
      </div>
   </mat-card>
</mat-card>
