<mat-card class="main-card title">
   <mat-card-title>Plant Details</mat-card-title>
</mat-card>
<mat-card class="main-card">
   <mat-card-header>
      <mat-card-title class="title">{{ plant.name }}</mat-card-title>
   </mat-card-header>
   <mat-card class="text-card flex-container">
      <div class="text-card-item">
         <img class="img" src="{{plant.imageSource}}">
      </div>
      <div class="text-card-item">
         <p class="text">Temperature: {{ sensor.temperature }}</p>
            <p class="text">Moisture: {{ sensor.moisture }}</p>
            <p class="text">Humidity: {{ sensor.humidity }}</p>
      </div>
      <div class="text-card-item">
         <div>
            <button mat-raised-button color="primary" class="vertical-line">Room info</button>
            <button mat-raised-button color="primary" class="vertical-line">Plantpedia</button>
         </div>
      </div>
   </mat-card>
</mat-card>
