@import '../app.component.scss';

.img {
  width: 15rem;
  height: 10rem;
}

.text-card-item {
  width: 20rem;
  padding: 1rem;
  text-align: center;
}

.flex-container {
  padding: 0;
  display: flex;
}
