@import '../app.component.scss';
.info-container{
  overflow: auto;
  width: 50rem;
  display: contents;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mat-flat-button{
  margin-bottom: 0.5rem;
  width: 25%;
  min-width: 5rem,;
  max-width: 10rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.vertical_line{
display: block;
width: auto;
margin: 2rem;
color: white;
background-color: #CADF72;
}
.paragraph{
  font-size: 1rem;
}
.img{
  width: 15rem;
  height: 10rem;
}
.text-card {
    max-width: 60rem;
    height: 12rem;
    background-color: $extra_bg;
 }
.text-card-item{
  width: 20rem;
  height: 10rem;
  padding: 1rem;
  text-align: center;
}
.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
