@import "../colors.scss";
@import "../styles.scss";

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: $dark_green;
}

.toolbar img {
    margin: 1rem;
}

.main-card {
    max-width: 50rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.main-card.title {
    background-color: $light_green;
    text-align: center;
    color: white;
}

.main-card.yellow{
    background-color: $yellow;
    text-align: center;
    color: white;
}

.main-card.red{
    background-color: $red;
    text-align: center;
    color: white;
}

.content {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.mat-card-title {
    margin-bottom: 0.5rem;
}

.text-card {
    max-width: 50rem;
    margin-top: 1rem;
    background-color: $grey_background;
}

.button-fit {
    width: 100%;
}

.vertical-line {
    display: block;
    width: auto;
    margin: 2rem;
}
