@import '../colors.scss';
@import '../styles.scss';

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: $dark_green;

  }

  .toolbar img {
    margin: 1rem;
  }


