@import "../app.component.scss";

.mat-card-header {
  margin-right: 0rem;
}

.info-container {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}

.button-merger{
  flex-wrap: wrap;
  text-align: center;
  min-width: 10rem;
  width:100%;
}

.blue{
  border-radius: 5px 0px 0px 5px ;
  width: 50%;
  min-width: 4rem;
  vertical-align: middle;
}

.red{
  border-radius: 0px 5px 5px 0px ;
  width: 50%;
  min-width: 4rem;
  vertical-align: middle;
}