@import '../app.component.scss';

.text-card {
    max-width: 50rem;
    margin-bottom: 1rem;
    // Todo: rename
    background-color: $extra_bg;
    // .mat-card-title {
    //   margin-bottom: 0.5rem;
    // }
 }

.mat-card-header{
  margin-right: 0px;
}

.info-container{
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-flat-button{
  margin-bottom: 0.5rem;
  width: 25%;
  min-width: 5rem,;
  max-width: 10rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
