<mat-card class="main-card title">
    <mat-card-title>Room Details</mat-card-title>
</mat-card>
<div *ngIf="(room$ | async) as room; else loadingIndicator">
    <mat-card class="main-card">
        <mat-card-header>
            <mat-card-title>{{room.name}}</mat-card-title>
            <mat-card-subtitle>{{room.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="wrapper">
            <div class="half"><img class="fit" src={{room.imageSource}}> </div>
            <mat-card class="text-card half">
                Facilities:
                <ul>
                    <li *ngFor="let facility of room.facilities">{{facility}}</li>
                </ul>
                <div class="restrict-width">
                    <sensor-overview [id]="room.sensorId" [overviewType]="overviewType">
                    </sensor-overview>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>

<ng-template #loadingIndicator>
    <loading-indicator></loading-indicator>
</ng-template>

<div *ngIf="error.hasError">
    <!-- Todo: Error popup here -->
    Error: {{error.message}}
</div>